body {
    text-align: center;
    margin-top:50px;
    margin-top:50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: white;
}
  
/* div {
    margin-top: 15px;
}   */


div.image-row {
    margin-top: 15px;
    /* margin-right: 25px;
    margin-left: 25px; */
    display: inline-flex;
    justify-content: center;
}

div.image-column {
    width: 100%;
    margin-right: 35px;
    margin-left: 35px;
    /* margin-bottom: 25px; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

div.anime-intro {
    margin-top: 100px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 100px
    /* width: 80%; */
}

div.intro-row {
    /* margin-top: 15px; */
    /* margin-right: 25px;
    margin-left: 25px; */
    display: inline-flex;
    justify-content: center;
}

div.intro-image-column {
    width: 50%;
    margin-top: 15px;
    margin-right: 25px;
    /* margin-left: 25px; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.intro-content-column {
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 25px;
    /* margin-left: 25px; */
    background-color: white;  
}

div.detail-row {
    margin-top: 40px;
}

table.character-table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

table.character-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.character-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


table.servant-table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

table.servant-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.servant-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.center-image {
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}


.tab-head {
    width:100%;
    display:inline-flex;
}

h4 {
    height: 25px;
    margin-right: 10px;
    margin-bottom: 0px;
    float: left;
    text-align: center;
}
  
.tab-content {
    width: 100%;
    margin-bottom: 50px;
}
  
.tab-content div {
    display: none;
}

/* .tab-content .hide {
    display: none;
} */


.tab-content .show {
    display: block;
}

.selected {
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
}

.selected-red {
    background-color: rgb(255, 92, 92);
}
  
.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

